# How to validate XML with XSD Schema

You need one class
[`XSDDocument`](./apidocs-${project.version}/com/jcabi/xml/XSDDocument.html)
which implements
[`XSD`](./apidocs-${project.version}/com/jcabi/xml/XSD.html)
interface. It works with your default DOM implementation.
For example:

```java
String xsd = "<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>",
    + "<xs:element name='payments'/>",
    + "</xs:schema>";
Collection<SAXParseException> errors = new XSDDocument(xsd).validate(
  new StreamSource(
    IOUtils.toInputStream(
      "<orders><order id="4">Coffee to go</order></orders>",
      "UTF-8"
    )
  )
);
if (errors.isEmpty()) {
    System.out.println("XML is valid");
} else {
    System.out.println("XSD validation failed: " + errors);
}
```
