# XML Parsing and Printing

Set of classes in
[`com.jcabi.xml`](./apidocs-${project.version}/com/jcabi/xml/index.html)
is an extra layer on top of DOM that allows simple
parsing, printing, and transforming of XML documents and nodes:

```java
public class Main {
  public static void main(String[] args) {
    XML xml = new XMLDocument(
      "<orders><order id="4">Coffee to go</order></orders>"
    );
    String id = xml.xpath("//order/@id").get(0);
    String name = xml.xpath("//order[@id=4]/text()");
    System.out.println(xml.toString());
  }
}
```

The only dependency you need is
(you can also download
[`jcabi-xml-${project.version}.jar`](http://repo1.maven.org/maven2/com/jcabi/jcabi-xml/${project.version}/jcabi-xml-${project.version}.jar)
and add it to the classpath):

```xml
<dependency>
  <groupId>com.jcabi</groupId>
  <artifactId>jcabi-xml</artifactId>
  <version>${project.version}</version>
</dependency>
```

## Cutting Edge Version

If you want to use current version of the product, you can do it with
this configuration in your `pom.xml`:

```xml
<repositories>
  <repository>
    <id>oss.sonatype.org</id>
    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
  </repository>
</repositories>
<dependencies>
  <dependency>
    <groupId>com.jcabi</groupId>
    <artifactId>jcabi-xml</artifactId>
    <version>1.0-SNAPSHOT</version>
  </dependency>
</dependencies>
```
